footer {

    margin: 0 auto;

    padding: 24px 0;
    box-shadow: 0 -1px 3px rgb(0 0 0 / 10%), 0 -2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
}

.footer-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    margin-bottom: 24px;

}

.footer-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-container ul li {
    color: rgba(0, 0, 0, .56);
    padding-top: .8rem;
    padding-bottom: .8rem;
}

.links-container {
    display: flex;
    flex-direction: column;
    margin-right: 48px;

}

.footer h3 {
    font-weight: 400;
    margin-bottom: 24px;
}

.footer-container li {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -.01em;
    font-weight: 400;

}

.footer-container li:hover {
    color: rgba(0, 0, 0, .87);
    cursor: pointer;

}

hr {
    max-width: 1440px;
    margin: 0 auto;
    border-top: 2px solid rgba(0,0,0,.1) ;  
}

